button {
  background-color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  transition-duration: 0.5s;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}
button:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
  background-color: #44aacc;
}
button:active {
  transform: scale(1);
  background-color: #fefefe;
  transition-duration: 0.1s;
}
