@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Saira";
  src: url(../assets/fonts/Saira/Saira-Regular.ttf) format("truetype");
}

$main: "Roboto";
$logo: "Saira";
