@use "../../../themes/colors" as color;

.selector {
  text-align: center;
  width: 20vw;
}

.search-input {
  text-align: center;
  border: .1rem solid rgba(44, 41, 41, 0.488);
  height: 4vh;
  width: 20vw;
  border-radius: .25rem;
  background-color: rgba(197, 194, 194, 0.082);
}



.option:active {
  background-color: color.$dropdown_selected;
}

.selected-option {
  background-color: color.$dropdown_selected;
  cursor: pointer;
}

.option {
  cursor: pointer;
}