
<div class="dashboard-container">


  <div class="content-container">

    <div class="selector-container">
      
      <div class="dev-type" class="dropdown">
            <app-dropdown  [selectorName]="'Developer Type '" [dropOptions]="devTypes" (selectedOption)="updateSelectedType($event)"></app-dropdown>
      </div>
      <div class="techs">

        <app-search [placeString]="'Technologies'" [allOptions]="techs" (selectOptsEvent)="updateSelectedOpts($event)" class="search-bar"></app-search>
      </div>
      <div class="experience">
        <app-dropdown [selectorName]="'Experience '" [dropOptions]="experienceLevels" (selectedOption)="updateSelectedExperience($event)"></app-dropdown>
      </div>
      <div class="search-button" (click)="searchUsers()"> 
        search
      </div>
      <div * ngIf="searchAlertMessage">Please select at least on developer type, technology and skill level</div>

    </div>

    <div class="user-container">
      
      <div *ngFor="let user of filteredUsers" class="user-card">
        <app-dev-card [user]="user"></app-dev-card>
      </div>
    </div>

  </div>
</div>



 <app-chat></app-chat>