<div class="logos-container">
  <img class="logo" src="../../../assets/img/img-company-icons/atom-icon.svg">
  <img class="logo" src="../../../assets/img/img-company-icons/appbaseio-icon.svg">
  <img class="logo" src="../../../assets/img/img-company-icons/astronomer.svg">
  <img class="logo" src="../../../assets/img/img-company-icons/homebrew.svg">
  <img class="logo" src="../../../assets/img/img-company-icons/maestro.svg">
  <img class="logo" src="../../../assets/img/img-company-icons/moltin-icon.svg">
  <img class="logo" src="../../../assets/img/img-company-icons/udemy-icon.svg">
  <img class="logo" src="../../../assets/img/img-company-icons/uservoice-icon.svg">
  <img class="logo" src="../../../assets/img/img-company-icons/close.svg">
  <img class="logo" src="../../../assets/img/img-company-icons/gohorse.svg">
</div>